$white-color: #ffffff;
$gray1-color: #E1E1E6;
$gray2-color: #C4C4CC;
$gray3-color: #8D8D99;
$black1-color: #29292E;
$black2-color: #202024;
$black2-color: #121214;
$black3-color: #09090A;
$black4-color: #1b1b1f;
$black5-color: #17171a;
$black6-color: #09090a;
$yellow-color: #FFCD1E;
$yellow2-color: #ffcf1e;
$orange-color: #FF7A29;
$pink-color: #FF008E;
$gree-color: #1B873F;

$degrade-color: linear-gradient(104.3deg, $pink-color 0.48%, $yellow-color 100%);