@import './colors.module.scss';

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    color: $gray1-color;
    background-color: $black3-color;
}