@import './../../styles/colors.module.scss';

.loginBoxWrapper {
    height: 100vh;
    width: 100%;
    background: $black5-color url(../../assets//banner-girl.png) no-repeat center top;

    padding: 27.5rem 5rem 0;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    strong {
        font-size: 2rem;
        line-height: 2.25rem;
    }
    
    .signInWithGithub {
        background: $yellow2-color;
        margin-top: 2rem;
        padding: 0 2.5rem;
        height: 3.5rem;
        color: $black6-color;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-right: 1rem;
        }

        &:hover{
            filter: brightness(0.9);
        }
    }
}
