@import './../../styles/colors.module.scss';

.messageListWrapper{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    > img {
        height: 1.75rem;
        margin: 2rem 0;
    }
}

.messageList {
    display: flex;
    flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1;
    flex-direction: column;
    justify-content: center;

    gap: 2.5rem;

    list-style: none;

    .message {
        max-width: 440px;

        &:nth-child(2){
            margin-left: 5rem;
        }

        .messageUser{
            margin-top: 1rem;
            display: flex;
            align-items: center;

            .userImage{
                padding: 0.125rem;
                background: $degrade-color ;
                border-radius: 50%;
                line-height: 0;

                img{
                    width: 1.875rem;
                    height: 1.875rem;
                    border-radius: 50%;
                    border: 0.25rem solid $black3-color;
                }

            }

            span{
                font-size: 1rem;
                margin-left: 1rem;
            }

        }
    }
}